{% extends 'layouts/base_card.html' %}
{% block content %}
<div class="add-section">
    <div class="add-row">
        <div class="add-controls">
            <div class = "delivery_with_label">
                <div class="delivery-label">Добавить:</div>
                <div class="delivery-button">
                    <button class="btn btn-outline-dark btn-sm" type="button">На доставку</button>
                </div>
            </div>
            <div class="shipping-button">
                <button class="btn btn-outline-dark btn-sm" type="button">На отгрузку</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}