{% extends 'layouts/base_card.html' %}
{% block content %}
<div class="add-section">
    <div class="add-row">
        <div class="add-button">
            {% if part.added %}
                <button class="btn btn-outline-dark btn-sm" type="button" disabled>Добавлено</button>
            {% else %}
            <form method="post" action="/parts/{{ part.id }}/add_to_shipment/" class="col d-flex justify-content-center">
                {% csrf_token %}
                <!-- Скрытое поле для параметра поиска -->
                <input type="hidden" name="part_name" value="{{ part_name }}">
                <button class="btn btn-outline-dark btn-sm" type="submit">Добавить</button>
            </form>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}