{% extends 'layouts/base.html' %}

{% block content %}
<div class="row">
    <div class="col-12">
        <h2 class="d-flex justify-content-between">
            <span>
                  В обработке
            </span>
            <span>
                Плановая дата: {{DRAFT_ORDER.planned_date}}
            </span>
        </h2>
        
        <div class="delivery-cards">
            <div class="row g-2">
                {% for part in DRAFT_ORDER.parts%}
                    <div class="col-12">
                        {% include 'order_card.html' with part=part %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<div class="row mt-4">
    <div class="col text-end">
        <button type="submit" class="btn btn-dark me-2">На доставку</button>
        <button type="submit" class="btn btn-dark">На отгрузку</button>
    </div>
</div>
{% endblock %}