{% extends 'layouts/base.html' %}

{% block content %}
<div class="row">
    <div class="col-12">
        <h2 class="d-flex justify-content-between">
            <span>
                  В обработке
            </span>
            <span>
                Плановая дата: 
            </span>
        </h2>
        
        <div class="delivery-cards">
            <div class="row g-2">
                {% for part in order.get_parts%}
                    <div class="col-12">
                        {% include 'order_card.html' with part=part %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<div class="row mt-4 mb-4">
    <!-- Колонка для кнопки "Удалить" выравнена по левому краю -->
    <div class="col text-start">
        <form method="post" action="/orders/{{ order.id }}/delete/">
            {% csrf_token %}
            <button class="btn btn-danger delete-draft-part-btn" type="submit">
                Удалить
            </button>
        </form>
    </div>

    <!-- Колонка для кнопок "На доставку" и "На отгрузку" выравнена по правому краю -->
    <div class="col text-end">
        <button type="submit" class="btn btn-dark me-2">На доставку</button>
        <button type="submit" class="btn btn-dark">На отгрузку</button>
    </div>
</div>
{% endblock %}