{% extends 'layouts/base.html' %}

{% block content %}
<div class="row">
    <div class="col-12">
        <h2 class="d-flex justify-content-between">
            <span>
                  В обработке
            </span>
            <span>
                Плановая дата: {{DRAFT_SHIPMENT.planned_date}}
            </span>
        </h2>
        
        <div class="delivery-cards">
            <div class="row g-2">
                {% for part in DRAFT_SHIPMENT.parts%}
                    <div class="col-12">
                        {% include 'layouts/base_card.html' with part=part %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}